@model dynamic

@{
    ViewBag.Title = "title";
}

<nav>
    <ul>
        <li>@Html.ActionLink("Exceptions", "Exceptions", "Demo")</li>
        <li>@Html.ActionLink("Subexpression breakpoints", "SubexpressionBreakpoints", "Demo")</li>
        <li>@Html.ActionLink("Hit Count Breakpoint", "HitCountBreakpoints", "Demo")</li>
        <li>@Html.ActionLink("Conditional Breakpoint", "ConditionalBreakpoints", "Demo")</li>
        <li>@Html.ActionLink("Filter Breakpoint", "FilterBreakpoints", "Demo")</li>
        <li>@Html.ActionLink("When hit Breakpoint", "WhenHitBreakpoints", "Demo")</li>
        <li>@Html.ActionLink("Deep Stack", "DeepStack", "Demo")</li>
        <li>@Html.ActionLink("Task based Action", "GetDataFromExternalSourceAsync", "Demo")</li>
        <li>@Html.ActionLink("Task based Action With One Wait", "GetDataFromExternalSourceOneAwaitAsync", "Demo")</li>
        

        @*        <li>@Html.ActionLink("Big Loop", "Exceptions", "Demo")</li>
        <li>@Html.ActionLink("Special Conditional", "Exceptions", "Demo")</li>
        <li>@Html.ActionLink("Create Threads", "Exceptions", "Demo")</li>
        <li>@Html.ActionLink("Call A Bunch", "Exceptions", "Demo")</li>
        <li>@Html.ActionLink("Call A Method", "Exceptions", "Demo")</li>
        <li>@Html.ActionLink("ToString Example0", "Exceptions", "Demo")</li>
        <li>@Html.ActionLink("Debugger Display", "Exceptions", "Demo")</li>
        <li>@Html.ActionLink("Advanced Display", "Exceptions", "Demo")</li>
        <li>@Html.ActionLink("Default Views", "Exceptions", "Demo")</li>
        <li>@Html.ActionLink("GC", "Exceptions", "Demo")</li>*@
    </ul>
</nav>